# ขั้นตอนการดาวน์โหลดโมเดลสำหรับโปรเจกต์ Project_Turret_AI

# 1) เข้าไปยังโฟลเดอร์โปรเจกต์
cd /home/boomaie/Desktop/Project_Turret_AI

# 2) สร้างโฟลเดอร์สำหรับเก็บไฟล์โมเดล
mkdir -p models

# 3) ดาวน์โหลดโมเดลที่ใช้

wget -O models/haarcascade_frontalface_alt.xml \
https://raw.githubusercontent.com/opencv/opencv/master/data/haarcascades/haarcascade_frontalface_alt.xml

wget -O models/haarcascade_frontalface_default.xml \
https://raw.githubusercontent.com/opencv/opencv/master/data/haarcascades/haarcascade_frontalface_default.xml

wget -O models/haarcascade_profileface.xml \
https://raw.githubusercontent.com/opencv/opencv/master/data/haarcascades/haarcascade_profileface.xml

wget -O models/shape_predictor_68_face_landmarks.dat.bz2 \
http://dlib.net/files/shape_predictor_68_face_landmarks.dat.bz2

bzip2 -d models/shape_predictor_68_face_landmarks.dat.bz2

wget -O models/dlib_face_recognition_resnet_model_v1.dat.bz2 \
http://dlib.net/files/dlib_face_recognition_resnet_model_v1.dat.bz2

bzip2 -d models/dlib_face_recognition_resnet_model_v1.dat.bz2

wget -O models/deploy.prototxt \
https://raw.githubusercontent.com/opencv/opencv/master/samples/dnn/face_detector/deploy.prototxt

wget -O models/res10_300x300_ssd_iter_140000.caffemodel \
https://github.com/opencv/opencv_3rdparty/raw/dnn_samples_face_detector_20170830/res10_300x300_ssd_iter_140000.caffemodel
